* {
  box-sizing: border-box;
}

ui {
  margin: 0;
  padding: 0;
}

ul li {
  position: relative;
  padding: 12px 8px 12px 40px;
  cursor: pointer;
  background: white;
  font-size: 18px;
  transition: 0.2s;
  user-select: none;
}

/* Selecting list-item to different colors(zebra stripes) and a strike out on text, change background color when clicked */

ul li:hover {
  background: grey;
}

ul li.checked {
  background-color: #6c757d;
  color: white;
  text-decoration: line-through;
}

/* Adding a check mark when clicked on  */

ul li.checked::before {
  content: "";
  position: absolute;
  border-style: solid;
  border-color: black;
  border-width: 0 3px 3px 0;
  top: 16px;
  left: 15px;
  height: 16px;
  width: 8px;
  transform: rotate(44deg);
}

/* Styling of the div container using header class */

.header {
  /* background-color: black; */
  padding: 30px 40px;
  /* color: white; */
  text-align: center;
  float: center;
}

.header::after {
  content: "";
  display: table;
  clear: both;
}

/* Styling the input */

#myinput {
  margin: 0;
  width: 77%;
  padding: 10px;
  float: center;
  font-size: 18px;
}

#muUL {
  padding-left: 5rem;
}

/* Styling the add button */

.btn {
  padding: 10px;
  width: 20%;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
}

/* Styling the close button created in the javascript file */

.close {
  position: absolute;
  right: 0;
  top: -4px;
  font-size: 25px;
  font-weight: bolder;
  color: blue;
  padding: 9px 16px 8px 16px;
}

.close:hover {
  background-color: red;
  color: white;
}
